<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../public/css/menu.css">
        <title>Main</title>
        <script src="js/navigation.js"></script>
    </head>
    <body>
        <div class="menu">
            <div class="menu-item">
                <button class="menuButton activ" onclick="jumpMain()">Главная страница</button>
            </div>
            <div class="menu-item">
                <button class="menuButton" onclick="jumpInformation()">О нас</button>
            </div>
            <div class="menu-item">
                <button class="menuButton" onclick="jumpProducts()">Продукция</button>
            </div>
            <div class="menu-item">
                <button class="menuButton" onclick="jumpContact()">Контакты</button>
            </div>
        </div>
    </body>
</html>