.custom-header {
	position: relative;
}

.custom-header-media {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.custom-header-media img {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	object-fit: cover;
	top: 0;
	padding-bottom: 1px;
	transform: none;
}

.site-branding {
	height: 100%;
	padding: 16px 0;
	position: relative;
	transition: margin-bottom;
	z-index: 3;
}


.site-branding a {
	text-decoration: none;
	translate: opacity .2s;
}

.site-branding a:hover {
	opacity: .7;
}

.site-branding-text {
	display: inline-block;
	vertical-align: middle;

}

.site-title a {
	color: #fff;
	font-size: 24px;
}

.site-description {
	color: #fff;
	opacity: .8;
}

.production-list-wrapper ul {
	padding-left: 15px;
}

.indicator-carousel-avg {
	color: #9932cc;
}
.button_style {
	width: 48px;
	height: 48px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-next-icon {
	margin-top: 14px;
}

.carousel-control-prev-icon {
	margin-top: 14px;
}

.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0.75);
}

.production-list-wrapper {
	margin-top: 20px;
	margin-bottom: 30px;
}

.carousel-indicators {
	margin-top: 12px;
	position: relative;
}
@media screen and (min-width: 768px) {
	.custom-header {
		display: block;
		height: auto;
	}

	.custom-header-media {
		bottom: 0;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.site-branding {
		margin-bottom: 0;
	}

	.site-description {
		font-size: 16px;
	}

	.site-title a {
		font-size: 36px;
	}
}

@media screen and (min-width: 480px) {
	.site-branding {
		padding: 48px 0;
	}
}