.custom-header {
	position: relative;
}

.custom-header-media {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.custom-header-media img {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	object-fit: cover;
	top: 0;
	padding-bottom: 1px;
	transform: none;
}

.site-branding {
	height: 100%;
	padding: 16px 0;
	position: relative;
	transition: margin-bottom;
	z-index: 3;
}


.site-branding a {
	text-decoration: none;
	translate: opacity .2s;
}

.site-branding a:hover {
	opacity: .7;
}

.site-branding-text {
	display: inline-block;
	vertical-align: middle;

}

.site-title a {
	color: #fff;
	font-size: 24px;
}

.site-description {
	color: #fff;
	opacity: .8;
}


.contact-info {
	margin-bottom: 20px;
}

.contact-info a {
	color: #222;
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	transition: color 80ms ease-in, box-shadow .13s ease-out, -webkit-box-shadow .13s ease-in-out;
}

.contact-form input {
	box-sizing: border-box;
	margin-bottom: 1.5em;
	width: 100%;
	color: #666;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	display: block;
	padding: .7em;
}

.contact-form input:focus {
	color: #222;
	border-color: #333;
}

.contact-form textarea {
	color:  #666;
	background: #fff;
	border-radius: 3px;
	display: block;
	box-sizing: border-box;
	float: none;
	height: 200px;
	margin-bottom: 1.5em;
	width: 100%;
	font-weight: 400;
	font-size: 15px;
	font-size: .9375rem;
	line-height: 1.66;
	overflow: auto;
	padding: .7em;
}

@media screen and (min-width: 768px) {
	.custom-header {
		display: block;
		height: auto;
	}

	.custom-header-media {
		bottom: 0;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.site-branding {
		margin-bottom: 0;
	}

	.site-description {
		font-size: 16px;
	}

	.site-title a {
		font-size: 36px;
	}
}

@media screen and (min-width: 480px) {
	.site-branding {
		padding: 48px 0;
	}
}