.custom-header {
	display: table;
	height: 75vh;
	width: 100%;
	position: relative;
}

.custom-header-media {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.custom-header-media img {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	object-fit: cover;
	top: 0;
	padding-bottom: 1px;
	transform: none;
}

.site-branding {
	display: table-cell;
	height: 100%;
	vertical-align: bottom;
	padding: 16px 0;
	position: relative;
	transition: margin-bottom;
	z-index: 3;
	margin-bottom: 0;
}


.site-branding a {
	text-decoration: none;
	translate: opacity .2s;
}

.site-branding a:hover {
	opacity: .7;
}

.site-branding-text {
	display: inline-block;
	vertical-align: middle;

}

.site-title a {
	color: #fff;
	font-size: 24px;
}

.site-description {
	color: #fff;
	opacity: .8;
}

.site-description {
	font-size: 13px;
	margin-bottom: 0;
}

.navigation-top {
	background: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 16px;
	position: relative;
}

.main-navigation {
	clear: both;
	display: block;
}

.main-navigation .menu-item {
		border-bottom: 1px solid #eee;
		position: relative;
}

.main-navigation .menu {
	background: #fff;
	list-style: none;
	margin: 0;
	padding: 0 24px;
	text-align: left;
}

.navigation-top .menu-item.active a {
	color: #767676;
}

.navigation-top .menu-item a:hover {
	color: #767676;
}

.main-navigation a {
	display: block;
	padding:  8px 0;
	text-decoration: none;
}

.navigation-top a {
	font-weight: 600;
	color: #222;
	transition: color .2s;
}

.navigation-top .warp {
	max-width: 1000px;
	padding: 0;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	color: #222;
	font-size: 14px;
	font-weight: 800;
	line-height: 1.5;
	margin: 1px auto 2px;
	padding: 16px;
	text-shadow: none;
}

.menu-toggle .icon {
	margin-right: 8px;
	top: -2px;
}

.main-navigation .icon {
	display: inline-block;
	fill: currentcolor;
	height: 16px;
	position: relative;
	top: 0;
	width: 16px;
}

.toggled-on .menu-toggle .icon-bars {
	display: none;
}

.menu-toggle .icon-close {
	display: none;
}

.toggled-on .menu-toggle .icon-close {
	display: inline-block;
}

.menu-container {
	display: none;
}

.toggled-on .menu-container {
	display: block;
}

.block-cover {
	position: relative;
	background-size: cover;
	background-position: 50%;
	min-height: 430px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}

.block-cover.home-bakcground-color {
	background-color: #000;
}

.block-cover.home-bakcground-image {
	background-image: url("../images/home_background.jpg");
}

.block-cover .block-cover__inner-container {
	width: calc(100% - 70px);
	z-index: 1;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.custom-header {
		display: block;
		height: auto;
	}

	.custom-header-media {
		height: calc(100vh - 32px);
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
		position: relative;
	}

	.site-branding {
		bottom: 0;
		display: block;
		left: 0;
		height: auto;
		padding-top: 0;
		position: absolute;
		width: 100%;
		margin-bottom: 72px;
	}

	.site-description {
		font-size: 16px;
	}

	.site-title a {
		font-size: 36px;
	}

	.navigation-top {
		position: absolute;
		font-size: 14px;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		z-index: 3;
	}

	.navigation-top nav {
		margin-left: -20px;
	}

	.main-navigation {
		width: auto;
	}

	.main-navigation .menu-item {
		border: 0;
		display: inline-block;
	}

	.main-navigation .menu {
		display: block;
		border: 0;
		margin-bottom: 0;
		padding: 0;
		background: 0 0;
	}

	.main-navigation a {
		padding: 16px 20px;
	}

	.menu-toggle {
		display: none;
	}

	.navigation-top .wrap {
		max-width: 1000px;
		padding: 12px 55px;
	}

	.menu-container {
		display: block;
	}
}

@media screen and (min-width: 480px) {
	.site-branding {
		padding: 48px 0;
	}
}