* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu {
    display: flex;
    margin: auto;
}

.menu-item {
    display: flex;
    flex-direction: row;
    width: 160px;
    height: 30px;
}

.menuButton {
    width: 100%;
    height: 100%;
    background-color: white;
}

.menuButton:hover {
    background-color: rgba(128, 128, 128, 0.395);
    cursor: pointer;
}

.activ {
    color: gray;
}