.button_style {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.7);
}

.gradient_style {
    display: flex;
    margin-bottom: 20px;
    background: rgb(255,248,203);
    background: linear-gradient(146deg, rgba(255,248,203,1) 0%, rgba(182,227,212,1) 41%, rgba(51,167,181,1) 100%);
}

.left_block {
    flex: 1;
}

.right_block {
    flex: 1;
}

.img_gradient {
    height: auto; 
    width: 50%
}

.list_gradient {
    padding: 30px 30px 0 30px;
}

h3 {
	color:rgb(102, 102, 102);
	display:block;
	font-family:"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
	font-size:26px;
	font-weight:700;
	letter-spacing:normal;
    clear: both;
	line-height:31.2px;
}

.carousel-control-next-icon {
    margin-top: 14px;
}

.carousel-control-prev-icon {
    margin-top: 14px;
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.75);
}

.production-list-wrapper {
    margin-top: 20px;
}

.carousel-indicators {
    position: relative;
}